@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Wall";
}

<div class="text-center row">
    @foreach (var post in Model)
    {
        <p>post.Title</p>
        <p>post.Description</p>
    }
</div>